html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: whitesmoke;
}

a {
    color: rgb(0, 255, 166);
}

a:visited {
    color: rgb(106, 35, 219);
}

a:hover, a:active {
    color: aqua;
}

table, tr, th, td, caption{
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}